.credentials {
    width: 100vw;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.credentials img {
    height: 40vh;
}

.credentials h2 {
    padding-top: 1rem;
}

.degrees {
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
}

.degree-card hr {
    width: 90%;

}

.degree-card {
    border: 1px solid black;
    width: 80vw;
    padding-bottom: 1rem;
    border-radius: 5px;
    box-shadow: 2px 2px;
    text-align: center;
}

.degree-card img {
    object-fit: contain;
    width: 100%;
}

.degree-school {
    font-weight: bold;
}

.certifications {
    padding-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    align-content: center;
}

.cert-card {
    border: 1px solid black;
    width: 90vw;
    height: 15vh;
    border-radius: 5px;
    box-shadow: 2px 2px;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    justify-content: flex-start;
    align-items: center;

}

.cert-card img {
    width: 30%;
    padding-left: 1rem;
    object-fit: contain;
}

.cert-card p {
    text-indent: 0;
}

.trainings {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;

}

.training-card {
    box-sizing: border-box;
    border: 1px solid black;
    width: 90vw;
    border-radius: 5px;
    box-shadow: 2px 2px;
    padding: 1rem;  

}

.training-card li {
    list-style: none;

}

@media screen and (min-width: 769px) {
    .credentials {
        width: 100%;
    }

    .degree-card {
        width: 40%;
        height: 15rem;
        align-self:unset;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .degree-card img {
        height: 60%;
    }

    .certifications{
        justify-content: space-evenly;
    }

    .cert-card {
        width: 40%;
        height: 15rem;
        align-self:unset;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .cert-card img {
        width: 60%;
        margin: auto;
        padding: 0;
    }

    .cert-info {
        padding: 10px;
    }

    .training-card {
        height: 110px;
        width: 230px;
        display: flex;
        align-items: center;
    }
}
